html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: 'IropkeBatang', sans-serif;
	word-break: keep-all;
	word-wrap: break-word;
	color: $black90;
	touch-action: pan-x pan-y;
	-webkit-touch-callout: none;

	#__nuxt {
		width: 100%;
		height: 100%;
		@include font(body, md);
		text-align: center;
		color: $black50;
	}
}

@include foldable {

	html,
	body {
		font-size: 150%;
	}
}

@include tablet {

	html,
	body {
		font-size: 200%;

		#__nuxt {
			max-width: $max-width;
			margin: 0 auto;
		}
	}
}