/* grid */
.sticky {
    background-color: $white00;
    z-index: $header-z;

    &--top {
        @include sticky-top;
    }
    &--bottom {
        @include sticky-bottom;
    }
}

.fixed {
    background-color: $white00;

    &-top {
        @include fixed-top;
        width: 100%;
        max-width: $max-width;
    }
    &-bottom {
        @include fixed-bottom;
        width: 100%;
        max-width: $max-width;
    }
}