/* Grid */
.sticky {
    background-color: $white00;
    z-index: $header-z;

    &--top {
        @include sticky-top;
    }
    &--bottom {
        @include sticky-bottom;
    }
}

.fixed {
    background-color: $white00;

    &-top {
        @include fixed-top;
        width: 100%;
        max-width: $max-width;
    }
    &-bottom {
        @include fixed-bottom;
        width: 100%;
        max-width: $max-width;
    }
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
        height: 100%;
    }
    .swiper-slide {
        @include flex(row, center, center);
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $black50;
        z-index: $modal-z;
        &::after {
            font-size: 1.5rem;
        }
    }
    .swiper-button-prev {
        left: $gap-xs;
    }
    .swiper-button-next {
        right: $gap-xs;
    }
    .swiper-pagination-fraction {
        color: $black50;
    }
    .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        min-width: 4.25rem;
        padding: 0 $gap-xxs;
        border-radius: $radius-full;
        background-color: $black50-1;
    }
}

/* Toast */
#toast {
    z-index: $modal-z;
    @include fixed-center;
    width: 85%;
    padding: $gap-xxs;
    background-color: $bg-toast;
    border-radius: $radius-full;
    @include font(body, sm);
    text-align: center;
    color: $white00;
    font-family: "Noto Sans KR", sans-serif;
}

/* Map */
.map {
    width: 100%;
    height: 18.75rem;
}

/* Slide Up Down */
.slide--up {
    opacity: 0;
    max-height: 0;
}
.slide--down {
    opacity: 1;
    max-height: 500px;
}

/* Fade In Scroll */
.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    &--visible {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}