/* screen */
$breakpoint-mobile: 320px;
$breakpoint-foldable: 480px;
$breakpoint-tablet: 640px;
$max-width: 768px;

/* color */
$black90: #111111;
$black50: #5A5959;
$white20: #F0F0F0;
$white10: #F8F8F8;
$white00: #ffffff;
$accent: #E38A76;
$green: #3AB449;
$transparent: transparent;
$bg-black: rgba($white00, 0.9);
$bg-toast: rgba(0, 0, 0, 0.75);

/* opacity */
$opacity-6: 0.6;
$opacity-1: 0.1;

/* rgba */
$black50-6: rgba($black50, $opacity-6);
$black50-1: rgba($black50, $opacity-1);
$accent-6: rgba($accent, $opacity-6);
$accent-1: rgba($accent, $opacity-1);

/* gap */
$gap-lg: 100px;
$gap-md: 60px;
$gap-sm: 2rem;
$gap-xs: 1.5rem;
$gap-xxs: .625rem;

/* radius */
$radius-circle: 50%;
$radius-full: 31.25rem;
$radius-xs: .3125rem;

/* font-weight */
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

/* z-index */
$header-z: 9;
$button-z: 9;
$tab-z: 9;
$modal-z: 99;

/* shadow */
$shadow-text: 0px 0px .25rem rgba($black90, 0.25);
