.modal {
    @include flex(column, center, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $gap-xs 0;
    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-black;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    &__top {
        @include flex(row, center, between);
        width: 100%;
        padding: 0 $gap-xs;
    }
    &__btn {
      &--close {
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
        }
      }
    }
    &__content {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    &--full {
        .modal__inner {
            @include flex(column, center, flex-start);
            z-index: $modal-z;
            width: 100%;
            height: 100%;
        }
        .modal__content {
            margin-bottom: 2rem;
        } 
    }
  }